---
---

@import "highlight";

h1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px #E5EFF5;
}

h3 {
  font-size: 1.3rem;
}
